{{#if shouldDisplay}}  
  {{#unless site.mobileView}}
    <div class="custom-search-banner" >
      <div class="wrap custom-search-banner-wrap">
        {{mount-widget widget="search-widget"}}
      </div>
    </div>
  {{/unless}}
{{/if}}
